* {
  -fx-text-fill: #AFB1BE;
}

TextField, PasswordField {
  -fx-background-color: #32364A;
  -fx-border-color: #AFB1BE;
  -fx-background-radius: 25;
  -fx-border-radius: 25;
  -fx-border-width: 2px;
  -fx-text-fill: #DC6180;
}
TextField:focused, PasswordField:focused {
  -fx-border-color: #DC6180;
}

Hyperlink {
  -fx-underline: false;
  -fx-border-style: none;
  -fx-font-size: 9;
}
Hyperlink:hover {
  -fx-text-fill: #DC6180;
}

#login-container {
  -fx-background-color: #35394A;
  -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #EA5C54, #BB6DEC);
  -fx-border-width: 2px;
}

.rounded-button {
  -fx-text-fill: #DC6180;
  -fx-background-radius: 50px;
  -fx-background-color: #32364A;
  -fx-padding: 10px 25px;
  -fx-border-color: #DC6180;
  -fx-border-radius: 50px;
  -fx-border-width: 2px;
}
.rounded-button:hover {
  -fx-background-color: #DC6180;
  -fx-text-fill: #AFB1BE;
}
.rounded-button:disabled {
  -fx-text-fill: #AFB1BE;
  -fx-border-color: #AFB1BE;
  -fx-opacity: 1.0;
}
