$primary: #DC6180;
$text: #AFB1BE;
$container_background: #35394A;
$textfield_background: #32364A;
$textfield_border: #393D52;

* {
  -fx-text-fill: $text;
}

TextField, PasswordField {
  -fx-background-color: $textfield_background;
  -fx-text-fill: $primary;
  -fx-border-color: $textfield_border;
  -fx-background-radius: 25;
  -fx-border-radius: 25;

  &:focused {
    -fx-border-color: $primary;
  }
}

Hyperlink {
  -fx-underline: false;
  -fx-border-style: none;
  -fx-font-size: 9;

  &:hover {
    -fx-text-fill: $primary;
  }
}

#login-container {
  -fx-background-color: $container_background;
  -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #EA5C54, #BB6DEC);
  -fx-border-width: 2px;
}

.rounded-button {
  -fx-text-fill: $primary;
  -fx-background-radius: 50px;
  -fx-background-color: $textfield_background;
  -fx-padding: 10px 25px;
  -fx-border-color: $primary;
  -fx-border-radius: 50px;
  -fx-border-width: 2px;
}

.rounded-button:hover {
  -fx-background-color: $primary;
  -fx-text-fill: $text;
}